@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Da 2', cursive;
    /* Hiding Scroll-X */
    overflow-x: hidden; 
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar { 
    display: none; 
}
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
  
    /*========== Colors ==========*/
    --hue: 25;
    --sat: 63%;
    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: rgb(3, 247, 3);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;
  
    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }