.card {
  
  box-shadow: var(--box-shadow);
  border-radius: var(--card-border-radius);
  padding: 0.5rem;
  overflow: hidden;
  background-color: var(--color-light);
  width: 98%; 
  margin: 0 auto;
  margin-bottom: 5px;
}
.card > h2 {
  text-align: center;
}

.w-card {
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
  background-color: white;
  width: 98%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.w-card > .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top > .info {
  width: 70%;
  height: 20%;
  padding: 0.5rem;
  font-size: larger;
  font-weight: 500;
  background-color: var(--color-success);
  color: white;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.middle,
.p-card {
  display: flex;
  justify-content: flex-start;
}

.middle > img {
  width: 130px;
  border-radius: 1rem;
  margin: 10px;
}

.middle > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.middle > div > h2 {
  width: 100%;
}

.activity-date {
  width: 30%;
  text-align: center;
}

.rangeslider,
input[type="range"] {
  max-width: 400px;
}

.rangeslider__ruler {
  cursor: pointer;
  font-size: 1rem;
  margin: 20px 3px 0 3px;
  position: relative;
  top: 150%;
  text-align: justify;
}

.rangeslider__ruler:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.range {
  padding: 1rem;
  border: 2px solid var(--color-success);
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}

.range > p {
  color: var(--color-success);
}

.range-card {
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
}

.footer{
  display: flex;
  justify-content: space-between;
}
.footer>a{
  border-bottom: 1px solid var(--color-primary);
}
.footer>a:hover{
  transition: 500ms all ease;
  border-bottom: 1px solid var(--color-success);
}