/* Toggle Switch CSS  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Save Location settings Buttons */

button {
  outline: none;
  border: none;
  width: 100%;
  background-color: var(--color-info-light);
  color: black;
  padding: 0.5rem;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: var(--color-primary);
  color: white;
  transition: all 500ms ease;
}


/* Save Settings Big Button */
.btn {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  box-sizing: border-box;
  color: black;
  display: block;
  height: 50px;
  font-size: 1.4em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 90%;
  margin: 0 auto;
  z-index: 2;
}

.btn:hover {
  color: #ffffff;
}

.btn .btnspan {
  align-items: center;
  background: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.btn:hover .btnspan {
  background: transparent;
}

footer {
  display: flex;
  width: 100%;
}
footer a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
